<!-- Experiment 12 -->
<!DOCTYPEhtml>
    <html>
    <head>
        <script 
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        </script>
    </head>

    <body>
        <div ng-app="">
            <div ng-init="firstName='Hello'">
                <p>Input something in the input box:</p>
                <p>Name: <input type="text" ng-model="firstName"></p>
                <p>You wrote: {{ firstName }}</p>
            </div>

            <div ng-init="names=['Rohit','Sowmya']">
                <p>Looping with ng-repeat:</p>
                <ul>
                    <li ng-repeat="x in names">{{ x }}</li>
                </ul>
            </div>
        </div>
    </body>
</html>